
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <!-- Page Title Header Starts-->
        <div class="row page-title-header">
            <div class="col-12">
                <div class="page-header">
                    <div class="page-header-toolbar">
                        <div class="btn-group toolbar-item" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-left"></i></button>
                            <a class="btn btn-secondary" href="~/Ayuda/Index">Regresar</a>
                            <button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-right"></i></button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Page Title Header Ends-->
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                       
                    </div>

                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © @DateTime.Now.Year <a href="http://www.bootstrapdash.com/" target="_blank">SharedFood</a>. Todos los Derechos Reservados.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                jorge quintana - Oweimar Mena
            </span>
        </div>
    </footer>
</div>

